<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Erhart Farms</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="navdiv">
        <div id="cart">
            <img alt="shopping cart">
            <p class="cartCounter">0</p>
            <button>Checkout</button>
        </div>
        <div id="title">
            <h1> Erhart Farms </h1>
        </div>
        <div class="productButton">
            <button> Add New Product </button>
        </div>
    </div>
    <div class="body">
        <div class="productbox" id="1">
            <img class="image" src="../public/images/strawberriesimg.jpeg">
            <h4>food1</h4>
            <p class="description">Description 1</p>
            <button class="cartButton">Add to Cart</button>
            <input>
        </div>

    </div>


    <script src=""></script>
</body>

</html>