<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Erhart Farms</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="navdiv">
        <div id="cart">
            <img class="shopcart" src="/images/shopcart.png" alt="shopping cart">
            <p class="cartCounter">0</p>
            <button id="checkout">Checkout</button>
        </div>
        <div id="title">
            <h1> Erhart Farms </h1>
        </div>
        <div class="productButton">
            <a href="products/new"><button id="productButton"> Add New Product </button></a>
        </div>
    </div>
    <div class="body">
        <div class="productbox" id="1">
            <img class="image1" src="/images/strawberriesimg.jpeg">
            <h4>Strawberries</h4>
            <p class="description">Organically homegrown strawberries. Picked at peak to deliver you the freshest, tastiest and healthiest snack. <br> Quanity Available: 7</p>
            <button class="cartButton">Add to Cart</button>
            <input>
        </div>
        <%= productList %>
    </div>


    <script src=""></script>
</body>

</html>