/* top navigator bar */

.navdiv {
    display: flex;
    justify-content: space-between;
    background-color: rgb(179, 213, 243)
}

#cart {
    display: flex;
    border: rgb(65, 59, 59);
    border-style: groove;
    width: 33%;
}

.cartCounter {
    padding: 2%;
    margin-top: 1%;
}

#title {
    display: flex;
    width: 33%;
    border: rgb(65, 59, 59);
    border-style: groove;
    text-align: center;
    justify-content: center;
}

#productButton {
    width: 80%;
    height: 50%;
    display: inline;
    text-align: center;
    align-self: center;
    justify-self: center;
    float: right;
}

.productButton {
    display: flex;
    width: 33%;
    border: rgb(65, 59, 59);
    border-style: groove;
    justify-content: right;
}

.shopcart {
    width: 5%;
    height: 30%;
    padding: 3%;
}

#checkout {
    width: 33%;
    height: 50%;
}


/* product list*/

.body {
    display: flex;
    justify-content: space-between;
}

.productbox {
    display: flex;
    justify-items: space-between;
}

.image1 {
    display: flex;
    border-color: rgb(3, 3, 3);
    border-style: double;
    width: 10%;
    padding: 1%;
}

h4 {
    display: flex;
    text-align: top;
    padding: 1%;
    margin-top: .5%;
}

.description {
    display: flex;
    padding: 1%;
}

.cartButton {
    display: flex;
    width: 15%;
    height: 40%;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

input {
    display: flex;
    width: 2%;
    height: 20%;
    margin-top: 6%;
}